<%= form_for current_user.direct_pairs.build do |f| %>
  <div>
    <%= f.hidden_field :wing, :value => @user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Request wing" %>
  </div>
<% end %>
