<%= @user.name %>, <%= @user.email %>
<%= render 'wing_form' if signed_in? %>
<% unless @user.posts.empty? %>
  <table class="posts" summary="user posts">
    <%= render @posts %>
  </table>
<% end %>
