<li>
  <span class="user">
    <%= link_to pair_request.user.name, pair_request.user %>
  </span>
  <br />
  <span class="accept">
    <%= render :partial => 'shared/accept_pair', :locals => {:pair_request => pair_request} %>
  </span>
  <span class="reject">
    <%= render :partial => 'shared/reject_pair', :locals => {:pair_request => pair_request} %>
  </span>
</li>
