<div id="landing">
<p> Why ride Sociable? </p>
<p> Goof off with your friends </p>
<p> Meet cute ladies / fellas </p>
<p> discover your city </p>
<%= link_to "Find a partner with a partner", signup_path %>
</div>
